/* COLOR SCHEMA https://coolors.co/eeeeee-222222-00a6fb-0582ca-006494*/

$smallUpDownMargin: 1em 0;
$verySmallUpDownMargin: 0.2em 0;
$smallSideMargin: 0 1em;
$verySmallSideMargin: 0 0.2em;
$mainFontColor: #eee;
$secondaryFontColor: #E5D4ED;
$mainFont: 'Montserrat', sans-serif;
$smallPadding: 0.5em;
$roundCorners: 50px;
$smallRadius: 5px;
$mainButtonWidth: 150px;
$appBackground: #222;
$containerBackground: #eee;
$coolBlue: #00a6fb;
$mainBoxShadow:  0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

body {
    overscroll-behavior: contain;
  }

.App {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: $mainFont;
    background: $appBackground;

    @media only screen and (min-width: 300px) and (max-width: 800px) {
        max-height: 100%;
        max-width: 100vw;
        overflow: hidden;
    }
}

@media only screen and (min-width: 300px) and (max-width: 800px) {
    .forMobile {
        display: block !important;
    }
}
.topPart {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 500px;

    @media only screen and (min-width: 300px) and (max-width: 800px) {
        max-height: 500px !important;
        overflow: hidden;
    }
}



.canvas {

    border: 1px solid #E5D4ED;
    box-shadow: $mainBoxShadow;
    overflow: hidden;
    position: absolute;
    left: calc(50% - 250px);
    z-index: 0;
    
    @media only screen and (min-width: 300px) and (max-width: 800px) {
        max-width: 100% !important;
        max-height: auto;
        border: none;
        margin: auto;
        position: absolute !important;
        top: 0;
        left: 0;
        overflow: hidden;
        box-shadow: $mainBoxShadow;
        /*position: absolute;
        left: 2.5em;
        top: 0;*/

    }
}

.forMobile {
    display: none;
}

@media only screen and (min-width: 300px) and (max-width: 800px) {
    .forDesktop {
        display: none !important;
    }
}
/* BUTTONS STYLES */
.buttons {
    display: flex;
    flex-wrap: wrap;
    margin: $smallUpDownMargin;
    max-width: 100%;
    padding: 1em;
    @media only screen and (min-width: 300px) and (max-width: 800px) {
        padding: 0;
        max-width: 80%;
    }
    button {
        background: transparent;
        font-family: $mainFont;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $roundCorners;
        width: $mainButtonWidth;
        flex: 1;
        margin: $smallSideMargin;
        background: $coolBlue;
        border: none;
        color: $mainFontColor;
        margin: 1em;
        max-height: 2rem;
    }

    img {
        max-height: 2rem;
        margin-left: -0.5em;
    }

    .fileContainer {
        overflow: hidden;
        position: relative;
        width: $mainButtonWidth;
        margin:  0 auto;
        font-family: $mainFont;
        font-weight: 600;
        
        border-radius: $roundCorners;
        width: 100%;
        margin: $smallSideMargin;
        background: $coolBlue;
        border: none;
        color: $mainFontColor;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .fileContainer [type=file] {
        padding: $smallPadding;
        cursor: inherit;
        display: block;
        width: $mainButtonWidth;
        opacity: 0;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;     
    }

    .fileContainer img {
        max-height: 2rem;
        margin: $smallSideMargin;
    }
    
    .fileContainer [type=file] {
        cursor: pointer;

    }
}

/* FILTERCONTAINER STYLES */
.filterContainer {
    
    height: 500px;
    max-width: 300px;    
    border: 1px solid #E5D4ED;
    margin: $smallSideMargin;
    border-radius: $smallRadius;
    box-shadow: $mainBoxShadow;
    .infoAndSelectors {
        max-width: 300px; 
        padding: 1em;
        height: 80px;
        background: $appBackground;
        h3 {
            text-align: center;
            color: $secondaryFontColor;
        }
    }

    .filters {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        background: $containerBackground;
        height: 387.56px;
        overflow-y: scroll;
        justify-content: center;
    }

    .filter {
        width: 70px;
        word-break: break-word;
        height: 70px;
        margin: 0.5em;
        color: $mainFontColor;
        text-align: center;
    }

    .selected {
        background: $secondaryFontColor;
        border-radius: $smallRadius;
        padding: 0.5em
    }
    
    @media only screen and (min-width: 300px) and (max-width: 800px) {
        max-height: 300px !important;
        margin: 0;
        .filters {
            max-height: 300px !important;
        }

        .infoAndSelectors {
            max-width: 100%;
        }
    }
}

/* FILTERCONTAINER STYLES */
.stickerContainer {
    height: 500px;
    max-width: 300px;
    margin: $smallSideMargin;
    background: $containerBackground;
    border-radius: $smallRadius;
    box-shadow: $mainBoxShadow;
  
    .infoAndSelectors {
        border: 1px solid #E5D4ED;
        max-width: 100%;
        padding: 1em;
        background: $appBackground;
        h3 {
            text-align: center;
            color: $secondaryFontColor;
        }
    }
    img {
        padding: 1em;
    }

    .stickers {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        background: $containerBackground;
        max-height: 387.56px;
        overflow-y: scroll;
        justify-content: space-between;
    }

    .selected {
        background: $secondaryFontColor;
        border-radius: $smallRadius;
    }

    @media only screen and (min-width: 300px) and (max-width: 800px) {
        max-height: 300px !important;
        margin: 0;
        .stickers {
            max-height: 300px !important;
        }
    }
}

/* CANVASSTICKER STYLES*/
.canvasSticker {
    overflow: hidden;
}

/* MODAL STYLES */
.modal, .modalSave {
    background: #eee;
    height: 100px;
    width: 200px;
    padding: $smallPadding;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 42.5%;
    z-index: 1050;
    word-break: break-word;
    line-height: 1.8rem;
    border-radius: $smallRadius;
    transition: opacity 2s;
    font-weight: 600;
    box-shadow: $mainBoxShadow;

    p {
        
        text-align: center;
    }

}

.modalSave {
    width: 500px !important;
    
    display: flex;
    flex-direction: column;
    img { 
        max-width: 80%;
        height: auto;
        margin: $smallUpDownMargin;
    }

    top: 5%;
    left: 31%;

    @media only screen and (min-width: 300px) and (max-width: 800px) {
        max-width: 80% !important;
        left: 10%;
       
        img {
            margin: auto;
        }
    }
}
/* PAINTBRUSH STYLES */
.paintBrush {
    position: absolute;
    bottom: 25%;
    left: 22.5%;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    align-items: center;

    button, input[type="color"] {
        font-family: $mainFont;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        width: 60px;
        min-height: 60px !important;
        margin: $smallUpDownMargin;
        background: $coolBlue;
        border: none;
        color: $mainFontColor;
      
    }

    input[type="color"] {
        align-self: center;
        background: transparent;
    }

    .textForm {
        position: absolute;
        z-index: 1070;
        top: -12em;
        left: -5.7em;
        background: $coolBlue;
        width: 300px;
        padding: $smallPadding;
        box-shadow: $mainBoxShadow;
        input {
            width: 100%;
            background: $mainFontColor;
            color: $appBackground;
            border-radius: 5px;
            margin: $verySmallUpDownMargin;
            height: 1.5rem !important;
        }

        button {

            margin: auto;
            width: 100%;
            border-radius: $smallRadius;
            cursor: pointer;
        }
    }
}

/* MOBILETOOLBAR STYLES */ 
.mobileToolbar {
    position: absolute;
    bottom: 1em;
    left: 0;
    z-index: 1050;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    button {
        background: transparent;
        font-family: $mainFont;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $roundCorners;
        max-height: 4rem;
        flex: 1;
        margin: $smallSideMargin;
        background: $coolBlue;
        border: none;
        color: $mainFontColor;
        margin: 0.8em;
    }

    .stickerContainer,
    .filterContainer,
    .mobileTools {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1080;
        min-width: 100%;
        margin: auto;
        
    }

    .mobileTools {
        display: flex;
        flex-wrap: wrap;
        background: rgba(0, 0, 0, 0.5)
    }

    .fileContainer {
        overflow: hidden;
        position: relative;
        width: $mainButtonWidth;
        margin:  0 auto;
        font-family: $mainFont;
        font-weight: 600;
        
        border-radius: $roundCorners;
        width: 100%;
        margin: $smallSideMargin;
        background: $coolBlue;
        border: none;
        color: $mainFontColor;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .fileContainer [type=file] {
        padding: $smallPadding;
        cursor: inherit;
        display: block;
        flex: 1;
        opacity: 0;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;     
    }

    .fileContainer img {
        max-height: 2rem;
        margin: $smallSideMargin;
    }
    
    .fileContainer [type=file] {
        cursor: pointer;

    }

    .paintBrush {
        position: static;
        flex: 1;
        margin: auto;
        
        button {
            margin: auto;
        }

        input {
            margin: 1em auto;
        }

        input[type=range] {
            width: 100%;
        }

        .textForm {
            position: static;
            margin: auto;
        }
    }
}